@model IEnumerable<foro_C.Models.Entrada>

@{
    ViewData["Title"] = "Index";
}

<h1>📢 Foro público</h1>

@foreach (var entrada in Model)
{
    <div class="card mb-3 shadow-sm p-3">
        <div class="d-flex justify-content-between">
            <h4>@entrada.Titulo</h4>
            <span class="text-muted small">@entrada.Fecha.ToShortDateString()</span>
        </div>

        <p>@entrada.Texto</p>

        <div class="text-muted mb-2">
            Publicado por <strong>@entrada.Miembro.UserName</strong> en <em>@entrada.Categoria.Nombre</em>
        </div>

        <a asp-action="Details" asp-route-id="@entrada.Id" class="btn btn-outline-primary btn-sm">Ver respuestas</a>
    </div>
}
